# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# serverkey
/lib/utils/serverkey.dart

# Google-Servies.json
{
  "project_info": {
    "project_number": "860854562070",
    "project_id": "teen-splah",
    "storage_bucket": "teen-splah.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:860854562070:android:16ae49ab40159cc1937437",
        "android_client_info": {
          "package_name": "com.example.teen_splash"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyDk6i0xCXzDlsQrox41RonoulkeNZqM1YY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    },
    {
      "client_info": {
        "mobilesdk_app_id": "1:860854562070:android:9611ffb49097473b937437",
        "android_client_info": {
          "package_name": "com.majorminorsentertainment.teensplash"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyDk6i0xCXzDlsQrox41RonoulkeNZqM1YY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
